
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #ffc600;
    padding: 20px;
    color: #00011e;
}

.sidebar h2 {
    margin-top: 0;
}

.main-content {
    padding: 20px;
}


.pagination {
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffc600;
}

.pagination a:hover {
    background-color: #ffc600;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background-color: #ffc600;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 250px;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.product h2 {
    margin-top: 10px;
    font-size: 1.2em;
}


.product p {
    color: #888;
    flex-grow: 1; /* Para que ocupe el espacio restante */
    margin-bottom: 10px; /* Espacio al final */
}

.product a {
    text-align: center;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.product p {
    color: #00011e;
}

.product a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    margin-top: 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.product a:hover {
    background-color: #555;
}

