body {
 
   background-image: url(../img/fondo2.png);
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    font-weight: 700; 
    text-transform: uppercase; 
    min-height: 300vh; 
  }

  .parallax{
    position: relative;
    z-index: 0;
    min-height: 0vh;
    display: grid;
    grid-template-areas: "stack";
  }

  .parallax > * {
    grid-area: stack;
    
  }
  
  .parallax >*.animate{
    animation: parallax linear;
    animation-timeline: scroll();
  }

 .parallax > img{
  width: 100%;
  
 }

 .header-princi{
  display: flex;
  z-index: 1000;
  --parallax-speed:20;
}

  .humo1 {
    --parallax-speed:28;
    z-index: 1;
  }

  .spiderman {
    --parallax-speed:25;
    z-index: 2;
  }

  .rachet {
    --parallax-speed:26;
    z-index: 3;

  }

  .elden {
    --parallax-speed: 28;
    z-index: 4;
  }

  
.hero {
  --parallax-speed: 10;
  z-index: 10;
  position: absolute;
  left: 300px;
  top: 300px;
  
}

  .cyber {
    --parallax-speed:24;
    z-index: 5;

  }

  .gow {
    --parallax-speed:27;
    z-index: 6;
  }

  .blue {
    --parallax-speed:20;
    z-index: 7;
  }

  .ellie {
    --parallax-speed:30;
    z-index: 8;
  
  }

  .foreNaranja,
  .foreAzul {
    z-index: 999;
    align-self: end;
    /*
   position: absolute;
   top: 20px;
   */
  }

 .contenido_princi{
    position: relative;
    padding-block: 6rem;
    background-image: url(../img/fondo2.png);
 }

 @keyframes parallax{
    to{
        transform: 
        translateY(calc(var(--parallax-speed)*50px));
    }
 }

 @keyframes fade{
  0% {
    left: 100%;
    
  }
  100% {
    left: 0; 
   
  }
 }

 .wrapper {
  width: min(65rem, 100% - 4rem);
  margin-inline: auto;
}

.button {
  font: inherit;
  font-style: italic;
  text-transform: uppercase;
  background: hsl(29, 75%, 59%);
  padding: 1em 2em;
  border: 0;
  border-radius: 0.125em;
}

.hero__title {
  font-size: 4rem;
  max-width: 20ch;
  line-height: 1;
  font-style: italic;
  font-weight: 900;
  position: relative;
  color: white;

  > span {
    font-style: normal;
    font-size: 0.5em;
    display: block;
    color: rgb(239, 159, 255);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    z-index: -1;
    scale: 2;
    opacity: 0.5;
    filter: blur(5rem);
    translate: -50%;
  }
}


.nav-bar ul{
  position: absolute;
  top: 70px;
  right: 300px;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
 
}

.nav-bar a{
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
}

.nav-bar a:hover {
  opacity: 0.8; 
}


.logo img{
  width: 30%;
  margin-left: 100px;
  animation: bounceInDown;
  animation-duration: 2s;
}

.boton{
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #db8734; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  margin-top: 130px;
  margin-left: 450px;
  font-family: "Rubik", sans-serif;
}

.boton:hover{
  background-color: #641555;
}

.boton2{
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #db8734; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  margin-top: 0px;
  margin-left: 750px;
  font-family: "Rubik", sans-serif;
}
.boton2:hover{
  background-color: #641555;
}

.slide{
  background-image: url(../img/fondo2.png);
  position: relative;
  padding: 100px;
  box-sizing: border-box;
  
}

.espacio{
  background-image: url(../img/fondo2.png);
  position: relative;
  padding: 150px;
}


.anuncios{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.anuncios .img1,
.anuncios .img2 {
  transition: transform 0.3s ease;
}

.anuncios .img1:hover,
.anuncios .img2:hover {
  transform: scale(1.1);
}

.pic-ctn {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 50vw;
  height: 300px;
  margin-top: 15vh;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}



/* footer */
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  z-index: 5;
}

.footer {
  position: relative;
  margin-top: 300px;
  padding: 3rem 0;
  color: rgb(240, 221, 14);
  background: #000000;
  margin-top: auto;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
}
.footer__col-title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.footer__col-title * ~ span {
  margin-left: 1rem;
}
.footer a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.footer a * ~ span {
  margin-left: 1rem;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__copyrights {
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 1px solid rgba(219, 18, 18, 0.2);
}
.footer__copyrights p {
  display: flex;
}
.footer__copyrights p a {
  margin-left: 0.5rem;
}
@keyframes parralax {
  0% {
    background-position: 260px;
  }
  100% {
    background-position: -10000vw;
  }
}
@keyframes moto {
  0% {
    transform: translateY(0) rotate(0);
  }
  5% {
    transform: translateY(0) rotate(-5deg);
  }
  25% {
    transform: translateY(60px) rotate(-20deg);
  }
  49% {
    transform: translateY(0) rotate(-1deg);
  }
  51% {
    transform: translateY(0) rotate(1deg);
  }
  75% {
    transform: translateY(60px) rotate(20deg);
  }
  80% {
    transform: translateY(60px) rotate(0deg);
  }
  98% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes voiture {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-1.3deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(1.3deg);
  }
  100% {
    transform: rotate(0);
  }
}
.footer__parralax {
  position: absolute;
  left: 0;
  top: -300px;
  height: 300px;
  width: 100%;
  overflow: hidden;
}
.footer__parralax-premierplan {
  background-position: 260px;
}
.footer__parralax-trees, .footer__parralax-premierplan, .footer__parralax-secondplan {
  position: absolute;
  inset: 0;
  background-repeat: repeat-x;
  background-position-y: 100% !important;
  animation: parralax 600s linear infinite;
}
.footer__parralax-moto {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -700px;
  height: 100%;
  width: 100%;
  background: url(../img/devil.gif);
  background-repeat: no-repeat;
  background-size: 30%;
  /* transform-origin: 50% 80%; */
  /* animation: moto 5s linear infinite; */
}
.footer__parralax-voiture {
  position: absolute;

  top: 65%;
  left: 50%;
  margin-left: 200px;
  height: 100%;
  width: 100%;

  background: url(../img/cuphead.gif);
  background-repeat: no-repeat;
  background-size: 10% ;
   /* animation: voiture 2s linear infinite;  */
}
.footer__parralax-trees {
  background-image: url(https://i.ibb.co/nQM4PGJ/arbres.png);
  bottom: -60px;
  animation-duration: 1500s;
}
.footer__parralax-premierplan {
  background-image: url(../img/floor.png);
  background-size: 60%;

height: 105%;
  animation-duration: 1500s;
}

@media only screen and  (min-width: 768px) and (max-width: 1024px){
  .footer__parralax-voiture {
    position: absolute;
  
    top: 60%;
    left: 50%;
    margin-left: 200px;
    height: 100%;
    width: 100%;
  
    background: url(../../img/cuphead.gif);
    background-repeat: no-repeat;
    background-size: 10% ;
     /* animation: voiture 2s linear infinite;  */
  }

  .footer__parralax-moto {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -700px;
    height: 100%;
    width: 100%;
    background: url(../../img/devil.gif);
    background-repeat: no-repeat;
    background-size: 30%;
    /* transform-origin: 50% 80%; */
    /* animation: moto 5s linear infinite; */
  }
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.product-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 10px;
}

.cart-icon {
  display: inline-block;
  /* Estilos adicionales para el ícono si los necesitas */
}


