
.header-princi{
    display: flex;
    font-family: "Rubik", sans-serif;
  }

  .nav-bar ul{
    position: absolute;
    top: 70px;
    right: 300px;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
   
  }
  
  .nav-bar a{
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
  }
  
  .nav-bar a:hover {
    opacity: 0.8; 
  }
  
  
  .logo img{
    width: 30%;
    margin-left: 100px;
    animation: bounceInDown;
    animation-duration: 2s;
  }

  .cart-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .product-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 10px;
  }
  
  .cart-icon {
    display: inline-block;
    /* Estilos adicionales para el ícono si los necesitas */
  }